.account-square {
    position: absolute;
    background-color: #80c7d0;
    width: 100px;
    height: 100px;
    opacity: .5;
    border-radius: .5em;
    box-shadow: 0 0 40px 50px rgba(128, 208, 178, 0.2);
    transform: rotate(-25deg);
    left: 10em;
    top: 8em;
}

.account-ellipsis {
    position: absolute;
    background-color: #daaa7a;
    width: 150px;
    height: 100px;
    opacity: .5;
    border-radius: 50%;
    box-shadow: 0 0 40px 50px rgba(218, 170, 122, 0.2);
    transform: rotate(30deg);
    right: 15em;
    top: 15em;
}

.account-circle {
    position: absolute;
    background-color: #e39696;
    width: 120px;
    height: 120px;
    opacity: .5;
    border-radius: 50%;
    box-shadow: 0 0 40px 50px rgba(227, 150, 150, 0.2);
    bottom: 5em;
    left: 25em;
}

.account-previous-image {
    position: absolute;
    top: 50%;
    left: 0;
    font-size: large;
    cursor: pointer;
    transition: scale 0.2s linear;
}

.account-next-image {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: large;
    cursor: pointer;
    transition: scale 0.2s linear;
}

.account-previous-image:hover, .account-next-image:hover {
    scale: 1.2;
}

.avatar-wrapper {
    display: flex;
}

.avatar-wrapper-1 {
    position: relative;
    padding: 0 1em;
}

.avatar-link {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: .5em;
    object-fit: cover;
    object-position: center;
    border: #282c34 solid 3px;
}

.account-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto minmax(0, 1fr);
    align-content: center;
    margin: 0 25%;
    padding: 0 1em 1em 1em;
    background-color: #ececec;
    border-radius: 1em;
    column-gap: 1em;
    box-shadow: 0 7px 45px 25px rgba(133, 133, 133, 0.25);
}

.account-main-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 1em;
    grid-row: span 2;
    grid-column: 1;
}

.account-main-info div, .tasks div {
    font-weight: 500;
    transition: color .5s ease;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.account-roles {
    border-radius: 1em;
    background-color: #c0f0ff;
    padding: 3%;
}

.account-data-group-1 {
    border-radius: 1em;
    background-color: #e3e3e3;
    padding: 3%;
}

.account-data-group-inner {
    padding: 1% 0;
}

.account-activity {
    border-radius: 1em;
    padding: 3%;
}

.account-data-group-2 {
    border-radius: 1em;
    background-color: #e0e59f;
    padding: 3%;
}

.account-task-info {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
}

.account-task-info-item {
    padding: 10px 1em;
    border-radius: 1em;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
}

.account-task-info-item:hover {
    box-shadow: 0 0 45px 5px rgba(133, 133, 133, 0.25);
}

.account-task-planing {
    background-color: #d9d9d9;
    color: #838383;
}

.account-task-in-progress {
    background-color: #fff9a5;
    color: #83812e;
}

.account-task-finished {
    background-color: #b1ffa5;
    color: #468339;
}

.account-task-canceled {
    background-color: #bfa5ff;
    color: #4c3485;
}

.account-task-expired {
    background-color: #ffa5a5;
    color: #863939;
}

.account-buttons-container {
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: auto;
    justify-content: flex-end;
    align-items: start;
}

.group-buttons {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    justify-content: center;
}

.group-buttons-main-func {
    display: flex;
    flex-direction: row;
}

.svg-image {
    opacity: .5;
    position: absolute;
    bottom: 3%;
    right: 0;
}