.container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #ececec;
    border-radius: 20px;
    width: 310px;
    padding: .5%;
    margin: 0 .7% .7% 0;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    transition: transform 0.4s ease;
}

.main-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.task-name {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.image-task-card {
    border-radius: 10px;
    width: 40%;
    height: 100%;
}

.task-card-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-task-avatar {
    width: 40%;
    height: 40%;
}

.task-name {
    width: 60%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.container-task-card-info p {
    margin: 0.5em 0;
}

.anchor-task-card {
    text-decoration: none;
    width: 100%;
    padding: 0;
    margin: 0;
    color: inherit;
}

.container:hover {
    transform: translateY(-7px);
}