.project-page-main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 95%;
}

.project-sidebar {
    position: fixed;
    margin-right: 3em;
    padding: 0 2em;
    border: #282c34 solid;
    border-radius: 1em;
    height: calc(100% - 100px);
    width: 13%;
    background-color: #f4f3f3;
}

.project-sidebar > ul {
    list-style: none;
    padding: 0;
    font-size: large;
    margin: 1em 0;
}

.project-sidebar ul li {
    padding: .5em 1em;
    transition: background-color 0.5s ease;
    border-radius: 7px;
    margin-bottom: .3em;
}

.project-sidebar ul li:hover {
    background-color: #80d0b2;
    cursor: pointer;
}

.task-navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 2rem;
    margin-bottom: 2em;
    padding: 0 2em 1em 2em;
    align-items: center;

    /*position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;*/
}

.project-page-main-1 {
    grid-column: 2;
}

.task-navbar > button
{
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.task-navbar > button > svg {
    font-size: xx-large;
}

#project-search {
    width: 100%;
    padding: .7em 0 .7em 5px;
    font-size: math;
}

#task-search, #task-status-sort,
#task-importance-sort {
    padding: .5em 0 .5em 5px;
    font-size: unset;
}

.project-page-label {
    display: inline;
}

.project-empty {
    display: flex;
    justify-content: center;
}

.project-page-wrapper-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
}