.project-form-main {
    display: flex;
    justify-content: center;
}

h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ececec;
    width: 30%;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

input[type=text], input[type=password], .new-project-textarea {
    border-radius: 10px;
    transition: border-top-color 0.5s ease, border-bottom-color 0.5s ease,
    border-left-color 0.5s ease, border-right-color 0.5s ease;
}

input:focus, .new-project-textarea:focus {
    outline: none;
    box-shadow: 0 0 0 1px #4b9b7e;
    border-color: #4b9b7e;
}

input[type=text]:hover, input[type=password]:hover, .new-project-textarea:hover {
    border-color: #4b9b7e;
}

.new-project-textarea {
    resize: none;
    font-size: 1.2em;
    width: 90%;
    padding: 1%;
    margin: 0;
}

.input-wrap > input {
    width: 90%;
    padding: 2%;
    font-size: .9em;
}

label {
     display: block;
     padding: 1em 0;
}

.input-wrap {
    padding: 2%;
    margin: 0;
}